<div id="form-comment<%= post.id %>">
  <div class="row">
    <div class="one columns">
      <%= image_tag "avatar.jpg", class: "image-user" %>
    </div>
    <div class="eleven columns">
      <%= link_to (comment.user.profile&.name || comment.user.name), user_path(comment.user_id) %>:
      <span class="timestamp">
        <%= comment.created_at %>
      </span><br/>
      <p><%= comment.content %><p>
        <%= link_to t("posts.show.delete"), post_comment_path(post, comment),
          method: :delete,
          data: {confirm: t("posts.show.sure")} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="one columns"></div>
  <div class="eleven columns">
    <%= render "comments/comment_form", post: post, parent_id: comment.id,
      comment_new: comment_new %>
  </div>
</div>
