<div id="vote_form">
  <% if user_signed_in? %>
    <% if (current_user.voted_down_on? post) || (!ActsAsVotable::Vote.where(voter_id: current_user,votable_id: post.id).present?) %>
      <%= link_to post_votes_path(post), method: :post, remote: true do %>
        <%= image_tag "unlike.png" %>
      <% end %>
    <% else %>
      <%= link_to post_vote_path(post,0), method: :delete, remote: true do %>
        <%= image_tag "like.png" %>
      <% end %>
    <% end %>
  <% end %>
  <%= post.get_upvotes.size %> <%= t "posts.show.like" %>
  <%= raw post.votes_for.up.by_type(User).voters.map { |voter| link_to voter.profile&.name || voter&.name, "#" }.join(', ') %>
</div>
