<div style="width: 80%; margin-left: 10%;">
  <% if user_signed_in? %>
    <div style="float: right;">
      Hi <%= current_user.profile&.name %>
      <%= link_to notifications_path, class: "dropdown-toggle", id: "noti-count",
        data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"},
        remote: true do %>
        <%= image_tag "bell.png" %>
        <span class="notification-number"><%= number %></span>
        <span class="caret"></span>
      <% end %>
      <p>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% end %>
      </p>
    </div>
  <% end %>
</div>
<div style="clear: both;"></div>
<h1 style="text-align: center;">Blogs of Tien</h1>
<%= link_to 'New Post', new_post_path, {style: "margin-left: 10%;", class: "button"} %>

<div class="index align-left" style="margin-left: 10%; width: 80%;">
  <!-- Definition List -->

  <section>
   <!--  <header>
      <h3>Follow me <code style="color: red;">ptnk1995</code></h3><br/>
      <%= image_tag "tien.jpg", style: "" %>
      <ul class="icons">
        <li><a href="#" class="icon style1 fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon style1 fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon style1 fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon style1 fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon style1 fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>

    </header> -->
    <div class="content">
      <% @posts.each do |post| %>
        <div >
        <h2><%= post.title %></h2>
        <%= raw post.tag_list.map { |t| link_to t, tag_path(t), class: "button small" }.join(' ') %>
        <p><%= post.content %></p>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <hr />
      <% end %>
    </div>
  </section>
</div>
