<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <script type="text/javascript">
        <% flash.each do |message_type, message| %>
          toastr['<%= message_type.gsub("notice", "info") %>']('<%= message %>');
        <% end %>
      </script>
      <%= yield %>
    </div>
  </body>
</html>
